/* @import '~antd/dist/antd.css'; */

.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
}

/* .ant-col {
    height: 100%;
} */
